<div class="controller">
  <%= simple_form_for @employee do |f| %>
    <div class="form-inputs justify-content-center col-lg-10">
      <%= f.input :eid %>
      <%= f.input :name %>
      <%= f.input :gender %>
      <%= f.input :joining_date, as: :string, 
        input_html: {value:  DateTime.new.strftime("%Y%m%d"), class: 'datepicker'} %>
      <%= f.input :phone_number %>
      <%= f.button :submit, class: "btn btn-primary btn-sm" %>
    </div>
  <% end %>
</div>

<script type="text/javascript">  
  $(document).ready(function(){
    $('.datepicker').datepicker();
  });
</script>
