<div class="container">
  <strong>Item Id:</strong>
  <%= @item.item_id %><br>
  <strong>Item name:</strong>
  <%= @item.item_name %><br>
  <strong>Item brand:</strong>
  <%= @item.item_brand %><br>
  <strong>Item model number:</strong>
  <%= @item.item_model_number %><br>
  <strong>Item purchase date:</strong>
  <%= @item.item_purchase_date %><br>
</div>
<hr/>
<div class="container">
  <div class="table-wrapper-scroll-y my-custom-scrollbar">
  <table class="table table-bordered table-hover mb-0">
      <thead>
        <tr>
          <th scope="col">Previous Holder Name</th>
          <th scope="col">Remark of the item</th>
          <th scope="col">From Date </th>
          <th scope="col">To date</th>
        </tr>
    </thead>
    <tbody>
      <% @item.previousholders.each do |previousholder| %> 
        <tr>
          <td><%= previousholder.employee.name %></td>
          <td><%= previousholder.remark %></td>      
          <td><%= previousholder.from_date %></td>      
          <td><%= previousholder.to_date%></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <hr/>
  <%= link_to 'Edit', edit_item_path(@item), class: "btn btn-success   btn-sm" %>
  <%= link_to 'List Items', items_path, class: "btn btn-success btn-sm" %>
</div>
</div>
